:local .infoBox {
  width: 300;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0 auto;
}

:local .info {
  with: 200;
  margin-left: 5px;
  border: 2px solid green;
}

:local .remove {
  with: 100;
  border: 2px solid blue;
}
